*{
    margin: o;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Nerko One', cursive;
    background-color: #add8e6;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

header{
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    color: white;
}

main.container{
    width: 1000px;
    margin: auto;
}

.pattern{
    width: 200px;
    height: 300px;
    background-image: url("./img/pattern.png");
    background-size: contain;
    border-radius: 8px;
    margin: 20px;
    display:block;
    float: left;
    position: absolute;
    top: -20px;
    left:-20px;
    width: 100%;
    height: 100%;
}

div.card{
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    display: inline-block;
    color: #e67919;
    margin: 20px;
    position: relative;
    box-shadow: 5px 10px #344fe3;
}

div.card img{
    background-position: center;
    width: 100%;
   
}

span.description{
    background-color: white;
   text-align: center;
   font-size: 45px;
    text-shadow: 2px 2px #ff0000;

}


.card:hover .pattern { 
    display: none 
}

#visible{
    color:     #e61b87;
};
